.MenuItem {
    min-height: max-content;
    margin: .5em;
    padding: .5em;
    background-color: sandybrown;
    color: var(--color);
    border: 1px solid;
    border-color: gray dimgray dimgray gray;
    border-radius: .5em;
}

.MenuItem:hover {
    background-color: #FFB672;
}

.MenuItem.active {
    background-color: #C3732F;
    color: white;
    border-color: dimgray gray gray dimgray;
}

.MenuItem__navLink {
    flex: auto;
}

.MenuItem__link {

}