.Page {
  position: relative;
  height: 100%;
  text-align: center;
  display: flex;
  flex-flow: column;
}

.Page__headerSourceCode {
  position: absolute;
  right: 1em;
  top: 1em;
  font-size: small;
  padding: .5em;
  border-radius: .5em;
  background-color: dimgray;
  color: white;
}
.Page__headerSourceCode:hover {
  background-color: #575757;
}

.Page__logo {
  animation: Page__logo_spin infinite 20s linear;
  height: 80px;
}

.Page__title {
  font-size: 1.5em;
}

.Page__header {
  background-color: #222;
  padding: 20px 20px 5px;
  color: white;
}

.Page__headerMenuWrapper {
  display: flex;
  justify-content: center;
}

.Page__headerMenu {
  max-width: 35em;

  display: flex;
  flex-flow: wrap;
  justify-content: space-between;
  align-items: end;
  /*height: 150px;*/
}

.Page__contentWrapper {
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}
.Page__content {
  width: 70%; height: 70%;
  border: 1px solid dimgray;
  border-radius: 1em;
}


@keyframes Page__logo_spin {
  from { transform: rotate(0deg); }
  to { transform: rotate(360deg); }
}