:root {
    font: calc(.5em + 1vw)/1.2 normal Open Sans, Helvetica Neue, Helvetica, Arial, sans-serif;
    --color: black;
    --bg-color: #EEE;
    --max-width: 35rem;

    --scroll-width: 16px;
    --padding: var(--scroll-width);
}

* {
    box-sizing: border-box;
}

html, body, p, h1, h2, h3, h4, ul, li, hr {
    padding: 0;
    margin: 0;
}

html, body {
    height: 100%;
}

body {
    overflow: hidden;
}

a {
    text-decoration: none;
    color: var(--color);
}

h1 {
    font-size: 1.8rem;
    font-weight: bolder;
}
h2 {
    font-size: .8rem;
    font-weight: bold;
    font-stretch: condensed;
    text-transform: uppercase;
}

#root {
    height: 100%;
}